# Maven
target/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws

# Eclipse / VS Code
.classpath
.project
.settings/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs & local env
*.log
.env

!.mvn/wrapper/maven-wrapper.jar